<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN | BOT</title>
</head>
<body>
     <p id="company"> <a href="#">Get Company info</a></p>
     <p id="regions"><a href="#">Regions and countries list</a></p>
     <p id="mainProduct"><a href="#">Main products</a></p>
     <p id="retailProduct"><a href="#">Retail products</a></p>
     <p id="industry"><a href="#">Get industry</a></p>
     <p id="companyUnits"><a href="#">Get Company units</a></p>
     <p id="downloadImage"><a href="#">Download image</a></p>
     <p id="companyReportFinance"><a href="/admin/company/report/finance">Company Report Finance</a></p>
     <p id="writeFactoryInfo_Json"><a href="/admin/write/factory/info">Write factory info by json</a></p>
     <p id="calcKvala_Json"><a href="/admin/write/calculateByKvala">Write calculate by kvala into json</a></p>
     <div style="display: flex">
        <p ><a href="/admin/units/report/finance/">Units Report Finance</a></p>
         <select id="unitsReportFinance" onchange="document.location.href=this.value;">
             <option value="#">Виберіть</option>
             <option value="/admin/units/report/finance/profit">По прибутку</option>
             <option value="/admin/units/report/finance/loses">По збиткам</option>
             <option value="/admin/units/report/finance/special">По збиткам(без офісів, лабораторій і вілл)</option>
         </select>
     </div>
     <p id="shop_unprofitable"><a href="/company/units/shop_unprofitable/">Shop settings</a></p>
     <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>